!!!5
html(lang="de")
  head
    meta(charset="utf-8")
    title="yadev"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Andre Leubner")
    link(rel="stylesheet", href="/res/combined.css")
    link(href='http://fonts.googleapis.com/css?family=Bree+Serif', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700', rel='stylesheet', type='text/css')

  body
     #content.container!=body
     script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
     script(src='/js/client.js')
     script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js')
