body {
	font: 16px "Bree Serif", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

button.remove-post {
    margin-left: 20px;
    opacity: 0.06;
    vertical-align: center;
}

article.fading {
    opacity: 0;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}

button.remove-post:hover {
    opacity: .7;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}
#content {
	padding-top: 50px;
}

.navbar-fixed-top .brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	font-size: 22px;
	float: right;
	font-weight: bold;
	color: #f2f2f2;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
