body {
  font: 400 24px/33px "Gentium Basic", "Bree Serif", Georgia, "Lucida Grande", Helvetica, Arial;
  background-color: #FAFAFA;
}

#content {
  padding-top: 50px;
}

figure {
  border-left: 6px solid #F0F0F0;
  padding: 13px 0 13px 37px;
  margin-left: -43px;
  color: #505050;
  line-height: 53px;
}

figure p {
  text-indent: -17px;
  font-size: 40px;
}

figure figcaption {
  font-size: 22px;
  text-indent: 0;
  display: block;
  font-style: italic;
}

article {
  margin-top: 60px;
  line-height: 38px;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
}

article section {
  margin-bottom: 25px;
}

article header {
  margin-bottom: 25px;
}

article header h2 {
  font-weight: 700;
  font-size: 24px;
}

article header em {
  font-size: 16px;
}

article section p {
  margin-bottom: 25px;
}

::selection {
  background: #141414;
  color: white;
  text-shadow: none;
}

.comments header {
  padding-bottom: 5px;
}

.comments header h3 {
  margin-right: 20px;
}

.comments header img {
  margin-right: 20px;
  border-radius: 50%;
}
