ul.nav.nav-list.well
  li
    a(href='/articles')
      i.icon-bullhorn
      |Articles
  li
    a(href='/media')
      i.icon-picture
      |Media
  li
    a(href='/pages')
      i.icon-file
      |Pages
  li
    a(href='/comments')
      i.icon-comment
      |Comments
  li
    a(href='/settings')
      i.icon-cog
      |Settings
