!!!5
html(lang="de")
  head
    meta(charset="utf-8")
    title='Admin'
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Andre Leubner")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.min.css")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Bree+Serif')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
     #content.container!=body
     script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
     script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js');
     script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js');
