!!!5
html(lang="de")
  head
    meta(charset="utf-8")
    title='Admin - Login'
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Andre Leubner")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Bree+Serif')
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
     #content.admin!=body
     script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
     script(src='/js/client.js')
     script(src='/js/bootstrap-dropdown.js')
     script(src='/js/bootstrap-alert.js')
     script(src='/js/bootstrap-collapse.js')
     script(src='/js/bootstrap-typeahead.js')
     script(src='/js/bootstrap-button.js')
     script(src='/js/bootstrap-tooltip.js')
     script(src='/js/bootstrap-popover.js')
     script(src='/ace/build/src/ace.js')
