.admin.navbar.navbar-fixed-top
  !=partial('top_menu')
 
.container
  .row
    .well.span8.offset2
      h2="Media"
      ul.thumbnails
        li
          span.thumbnail
            img#inputFiles(src="http://placehold.it/216x192&text=Drop+files+here!", alt)